# The Site Configuration

# Import the theme
remote_theme: "mmistakes/minimal-mistakes@4.27.3"
minimal_mistakes_skin: "contrast" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Change the following value to '/PROJECT_NAME' ONLY IF your site type is GitHub Pages Project sites
# and doesn't have a custom domain.
baseurl:

# The language of the webpage › http://www.lingoes.net/en/translator/langcode.htm
# If it has the same name as one of the files in folder `_data/locales`, the layout language will also be changed,
# otherwise, the layout language will use the default value of 'en'.
lang: ja


# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Asia/Tokyo

# jekyll-seo-tag settings › https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
# ↓ --------------------------

title: HOGEHOGE for MLE/DS                          # the main title

tagline: 機械学習エンジニアとデータサイエンティストのための情報共有サイト   # it will display as the sub-title

description: >-                        # used by seo meta and the atom feed
  機械学習エンジニアとデータサイエンティストのための情報共有サイト。深層学習、機械学習、MLOps、グラフニューラルネットワーク、
  グラフデータベース、自然言語処理、画像処理、ディープラーニングなど雑多に情報を共有していきます。キャリアについても、共有できる
  情報があったら書きます。

# fill in the protocol & hostname for your site, e.g., 'https://username.github.io'
url: 'https://0h-n0.github.io'

github:
  username: 0h-n0             # change to your github username

twitter:
  username: 0h-n0            # change to your twitter username

social:
  # Change to your full name.
  # It will be displayed as the default author of the posts and the copyright owner in the Footer
  name: 0h-n0
  email: kbu94982@gmail.com             # change to your email address
  links:
    # The first element serves as the copyright owner's link
    #- https://twitter.com/      # change to your twitter homepage
    - https://github.com/0h-n0       # change to your github homepage
    # Uncomment below to add more social links
    # - https://www.facebook.com/username
    # - https://www.linkedin.com/in/username

# Minimal Mistakes Author Info
author:
  name: "0h-n0"
  avatar: "/assets/commons/android-chrome-192x192.png"
  bio: "機械学習エンジニア / データサイエンティスト"
  location: "Tokyo, Japan"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/0h-n0"
    - label: "Zenn"
      icon: "fas fa-fw fa-link"
      url: "https://zenn.dev/0h_n0"

google_site_verification:               # fill in to your verification string

# ↑ --------------------------
# The end of `jekyll-seo-tag` settings

google_analytics:
  id: UA-164327210-1                # fill in your Google Analytics ID
  # Google Analytics pageviews report settings
  pv:
    proxy_endpoint:   # fill in the Google Analytics superProxy endpoint of Google App Engine
    cache_path:       # the local PV cache data, friendly to visitors from GFW region

# Pagination
paginate: 10
paginate_path: /page:num/

# Comments (disabled for now)
comments:
  provider: false

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:   # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Collections
collections:
  posts:
    output: true
    permalink: /posts/:title/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
      toc: true
      toc_sticky: true

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - '*.gem'
  - '*.gemspec'
  - tools
  - README.md
  - CHANGELOG.md
  - LICENSE
  - gulpfile.js
  - node_modules
  - package*.json

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jemoji
# After footer scripts (for Mermaid diagram support)
after_footer_scripts:
  - https://cdn.jsdelivr.net/npm/mermaid@10.6.1/dist/mermaid.min.js
  - /assets/js/mermaid-init.js
