---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
$font-family: serif;
//$font-family: "Noto Sans Japanese","メイリオ", sans-serif;


body {
    font-family: $font-family;
}

p {
  font-family: serif;
}

/* h1見出しのフォント指定 */
h1 {
  font-family: sans-serif;
}
  
